html, body {
	height: 100%;
	font-size: medium;
}

#content {
	height: 100%;
}

.container {
	width: 80%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;	
	padding: 1px;
}

.gameBoard {
	height: 25em;
	width: 25em;
	background: rgb(110,64, 16);
	border-style: solid; 

	margin-left: auto;
	margin-right: auto;
}

.cell-general() {
	height: 20%;
	width: 20%;
	background-color: rgb(193,111,28);
	margin: 2.5%;
	text-align: center;
	line-height: 140%;
	font-size: 50px;
	float: left;
}

.pannel {
	margin-left: auto;
	margin-right: auto;
	width: 25em;
	height: 5em;
	border-style: solid;
	background: rgb(130,155,64);
}

.scoreboard {
  margin-left: 2em;
	line-height: 5em;
	display: inline-block;
}

.newGame {
	border: none;
	border-radius: 15px;
	height: 50px;
	background: rgb(108,213,250);
}

#cell-0 {
	.cell-general();
}
#cell-1 {
	.cell-general();
}
#cell-2 {
	.cell-general();
}
#cell-3 {
	.cell-general();
}
#cell-4 {
	.cell-general();
}
#cell-5 {
	.cell-general();
}
#cell-6 {
	.cell-general();
}
#cell-7 {
	.cell-general();
}
#cell-8 {
	.cell-general();
}
#cell-9 {
	.cell-general();
}
#cell-10 {
	.cell-general();
}
#cell-11 {
	.cell-general();
}
#cell-12 {
	.cell-general();
}
#cell-13 {
	.cell-general();
}
#cell-14 {
	.cell-general();
}
#cell-15 {
	.cell-general();
}
